.alternate-table
{
    width: 100%;
    border-collapse: collapse;
}

.alternate-table th, td
{
    border-style: solid;
    border-width: 1px;
}


.alternate-table th
{
}


.alternate-table .odd 
{
    background-color: LightGray;
}


.alternate-table .even 
{
}


.alternate-table tr:hover td
{
    color: White;
    background-color: Gray;
}
