.table
{
    width: 100%;
    border-collapse:collapse;
}

.table th, td
{
    border-style: solid;
    border-color: blue;
    border-width: 1px;
}


.table th
{
    color: Brown;
    background-color: White;
}


.table .odd 
{
    color: Black;
    background-color: LightGray;
}


.table .even 
{
    color: Black;
    background-color: White;
}


.table tr:hover td
{
    color: White;
    background-color: Gray;
}
