/*******************************************************************************
 * Main css.
 ******************************************************************************/

*
{
    /*
    border-style: solid;
    border-width: 1px;
    margin: 0;
    padding: 0;
    */
}

body
{      
    margin-left: auto;
    margin-right: auto;
    /*
    padding: 0.6em;
    */

    width: 1024px;
    /*
    border: solid Brown 1px;
    */

    font-family: Monospace;
    font-size: 80%;

    color: Black;
    background-color: White;
}


/*******************************************************************************
 * Link css.
 ******************************************************************************/

/*
 * Unvisited
 */
a:link
{
    /*
    color: #00FFFF;
    background-color: #000000;
    */
    color: Black;
    text-decoration: underline;
}

/*
 * Hovering
 */
a:hover
{
    /*
    color: #00FFFF;
    background-color: #000000;
    */
    color: Black;
    text-decoration: none;
}

/*
 * Clicking
 */
a:active
{
    /*
    color: #00FFFF;
    background-color: #000000;
    */
    color: Black;
    text-decoration: underline;
}

/*
 * Visited
 */
a:visited
{
    /*
    color: #00FFFF;
    background-color: #000000;
    */
    color: Black;
}


/*******************************************************************************
 * General class
 ******************************************************************************/
.clear_both
{
    clear: both;
}

.input_text
{
    width: 100%;
}

.input_submit
{
    width: 100%;
    height: 3em;
}

.textarea
{
    width: 100%;
    height: 10em;
}

.description
{
    color: Gray;
}

.comment_entry_header
{
    background-color: LightGray;
}

.author
{
    margin-right: 0.6em;

    color: Green;
}

.user
{
    font-weight: bold;
    color: Brown;
}

.floor
{
    float: right;

    color: Black;
}

.comment_entry_content
{
    margin: 0.3em 0em;
}

.comment_entry_information
{
}

.border_frame
{
    margin: 0.2em 0em;
    padding: 0.2em 0.6em;
    /*
    border: solid Brown 3px;
    */
    border: solid Gray 2px;
}

.content_title
{
    color: White;
    background-color: Brown;
}

.content_title h3
{
    margin: 0px;
    padding: 0px;
}

.markdown-body
{
    box-sizing: border-box;

    margin: 0.3em auto;

    min-width: 10em;
    /*
    max-width: 80em;
    */
}

/*******************************************************************************
 * Header
 ******************************************************************************/

#header
{
    background-color: Brown;
}

#site_name
{
}

#site_name h1
{
    margin: 0em;
    padding: 0em;

    font-size: 2em;
    font-weight: bolder;
    font-family: Sans-serif;
}

#site_name h1 a
{
    /*
    */
    color: White;
    text-decoration: none;
}

#site_description
{
    color: White;
}

/*******************************************************************************
 * Position
 ******************************************************************************/
#position
{
    font-size: 0.8em;
}

#position a
{
    display: inline-block;
    
    padding: 0px 2px;

    color: White;
    background-color: Gray;
    text-decoration: none;
}

#position a:hover, a:active
{
    color: White;
    background-color: Brown;
    text-decoration: none;
}

a.highlight
{
    color: White;
    background-color: Brown;
}

/*******************************************************************************
 * Section
 ******************************************************************************/
#section
{
    /*
    background-color: Brown;
    */
}


#section h2
{
    /*
    margin: 0em;
    padding: 0em;

    color: White;
    */
}

/*******************************************************************************
 * Menu
 ******************************************************************************/
#menu
{
}

#user_operation
{
}

#menu_list
{
    /*
    float: left;
    width: 100%;

    background-color: Brown;
    */
}

#menu_list ul
{
    /*
    float: left;
    width: 100%;
    */

    margin: 0em;
    padding: 0em;

    list-style-type: none;
}

#menu_list ul li
{
    /*
    float: left;
    */
    display: inline-block;

    /*
    width: 20%;
    */
    min-width: 10em;
    line-height: 2em;

    padding: 2px 0px;

    text-align: center;
}

#menu_list ul li a
{
    /*
    */
    display: block;

    padding: 0px 5px;

    color: White;
    background-color: Gray;
    text-decoration: none;
}

#menu_list ul li a:hover, a:active
{
    color: White;
    background-color: Brown;
    text-decoration: none;
}


#content
{
}

#article_list
{
}

.article_entry
{
}

.article_entry_information
{
}

#article_title
{
    margin: 0em;
    text-align: center;

    border-bottom: solid Blue 3px;

    font-size: 2em;
    font-weight: bold;
    color: Brown;
}

#article_information
{
    margin: 0.6em 0em 2em 0em;
    padding: 0.3em;

    background-color: Lightgray;
}

#article_maintext
{
}


#main_area
{
}

#side_container
{
    float: left;

    width: 20em;
    /*
    */
}

#side
{
    margin: 0em 0.1em;
}

#side #category_list
{
    /*
    word-wrap: break-word;
    */
    overflow: auto;
}

#side #category_list #root_ul
{
    padding-left: 5px;
}

#side #category_list ul
{
    /*
    list-style-type: none;
    */
    padding-left: 2em;
}

#side #category_list .category a
{
    /*
    font-size: 1em;
    */
    display: inline-block;

    margin: 1px;
    padding: 1px;
    /*
    border: solid LightGray 1px;
    */
    color: Black;
    background-color: LightGray;
    text-decoration: none;
}

#side #tag_list .tag a
{
    display: inline-block;

    margin: 1px;
    padding: 1px;
    /*
    border: solid LightGray 1px;
    */
    color: Black;
    background-color: LightGray;
    text-decoration: none;
}

#side #tag_list .tag a:hover, a:active
{
    color: White;
    background-color: Brown;
    text-decoration: none;
}


#main_container
{
    /*
    margin-left: 20em;
    */
    overflow: auto;
}

#main
{
    margin: 0em 0.1em;
}

#main #tag_list .tag a
{
    display: inline-block;

    margin: 1px;
    padding: 1px;
    /*
    border: solid LightGray 1px;
    */
    color: Black;
    background-color: LightGray;
    text-decoration: none;
}

#main #tag_list .tag a:hover, a:active
{
    color: White;
    background-color: Brown;
    text-decoration: none;
}
