.input_text
{
    width: 100%;
}

.input_submit
{
    width: 100%;
    height: 3em;
}

.textarea
{
    width: 100%;
    height: 10em;
}

.tag
{
    margin: 0.2em;
    display: inline-block;
    color: Black;
    background-color: LightGray;
}

.tag:hover
{
    color: White;
    background-color: Brown;
    text-decoration: none;
}


.block_box
{
    margin: 0.2em 0em;
    padding: 0.2em 0.6em;
}


.markdown-body
{
    box-sizing: border-box;

    margin: 0.3em auto;

    min-width: 10em;
    /*
    max-width: 80em;
    */
}



.article_title
{
    margin: 0em;
    text-align: center;

    border-bottom: solid Blue 3px;

    font-size: 2em;
    font-weight: bold;
    color: Brown;
}
